// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts {
  font-family: "calluna-sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  a {
    color: #b81a1a; 
    text-decoration: none;
  }
  a:hover {
    color: #363842;
  }
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .small { font-size: 0.8em; }
  .medium { font-size: 1.2em; }
  .large { font-size: 1.8em; }
}

.logo {
  max-width: 40%;
}

.blog-title {
  margin-bottom: 2em;
  line-height: 2.09em;
  font-size: 1.5em;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.posts {
  max-width: 50.5em;
  margin-left: auto;
  margin-right: auto;
}

.mini-post-list {
  list-style-type: none;
}

.mini-post-title {
  line-height: 2.09em;
  font-size: 1.5em;
  a {
    color: #363842;
    text-decoration: none;
  }
  a:hover {
    color: #b81a1a; 
  }

}

p.mini-post-content {
  font-family: 'helvetica';
  color: #5c5e6a;
  line-height: 2.9em;
  margin-bottom: 20px;
}

li.mini-post {
  margin-bottom: 50px;
  .post-tag {
    color: #b81a1a;
    text-transform: uppercase;
  }
}
